@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* header */

* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0;
    background-color: #FFCCCC;
  }

.wrapper {
    width: 100%;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top {
    width: 100%;
    background-color: #FFCCCC;
    opacity: 0.8;
}

header {
    display: flex;
    flex-direction: column;
    
}

h1, h2, top-nav li, h3 {
    gap: 1rem;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    
}


h1 {
    font-size: 60px;
    
}

h1 a {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    text-decoration: none;
}

p, ol, ul {
    font-family: 'Quicksand', sans-serif;
    color: #333; 
    line-height: 1.7em;
}


.top-nav {
    display: flex;
    padding: 0;
    margin: 1rem 0;
    justify-content: space-between;
    text-transform: uppercase;
   
    
  }
  
.top-nav a {
    padding: 0.5em 0.8em;
    display: inline-block;
    color: #333;
    text-decoration: none;
  }
  
.top-nav li {
    background-color: transparent;
    display: inline-block;
    font-weight: bold;
  }

/* main page */


.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-h {
    align-self: center;
    margin-bottom: 50px;
}

.info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.p-info {
    align-self: center;
    flex-basis: 500px;
    margin: 50px;
    font-weight: bold;
  
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FFCCCC;
    opacity: 0.8;

}

.symbols {
    font-size: 20px;
}

i {
    margin-right: 10px;
    font-size: 30px;
}

.symbols a {
    text-decoration: none;
    color: #333;
}

@media screen and (min-width:1000px) {



}

@media screen and (max-width: 600px) {

    .info-box, .footer-container {
        flex-wrap: wrap;
    }
    
    .about {
        align-self: flex-end;
    }
    

    }

