@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.wrapper {
    border: 3px solid black;
    background-color: bisque;
}

.site-header {
    background-color: white;
    justify-content: space-around;
    padding: 30px;
    
}
.site-header img {
    cursor: pointer;
    display: flex;
}
/*.title {
    border: 3px solid blue;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    align-self: center;
    
}*/
.nav-links {
    font-family: 'Quicksand', sans-serif;
    color:black;
    font-weight: bold;
    padding: 9px 25px;
    background-color: #FFFF00;
    border: none;
    border-radius: 50px;
    
}
.nav-links li {
    display: inline-block;
    align-self: flex-end;
}
.nav-links li a:hover {
    color: white;
}

/*button {
    padding: 9px 25px;
    font-family: 'Quicksand', sans-serif;
    background-color: bisque;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-self: flex-start;
}

button:hover {
    background-color: white;
}
*/
h2, h3, p, li {
    font-family: 'Quicksand', sans-serif;
}
article {
    background-color: white;
    border: 3px solid blue;
}